html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: rgb(115, 112, 112);
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
     background-color: rgb(115, 112, 112);
}

.login-container {
    background: white;
    width: 400px;
    padding: 30px;
    border-radius: 16px;
    text-align: center;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: 600;
}

input {
    width: 100%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: #f3f3f3;
    margin-top: 5px;
}

.btn-outline {
    width: 100%;
    background: white;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}
